{{if .Get "videoid" }} {{ with .Get "videoid" }}
<p>
    <small
        >If the embed below does not work here is a
        <a href="https://cardiff.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id={{.}}" target="blank"
            >link to the full version of the video</a
        ></small
    >
</p>
{{ end }} {{ with .Get "videoid" }}
<iframe
    src="https://cardiff.cloud.panopto.eu/Panopto/Pages/Embed.aspx?id={{.}}&v=1"
    width="720"
    height="405"
    style="padding: 0px; border: 1px solid #464646;"
    frameborder="0"
    allowfullscreen
    allow="autoplay"
></iframe>
{{end}} {{ end }}
